@using SistemaILP.comisariato.Data;
@model Paginacion<Productos>

<div class="card">
    <h5 style="padding-left: 20px" class="card-title"><i class="fas fa-user"></i> Consulta De Producto</h5>
    <div class="card-header">
        <div class="card-tools" style="padding-right: 10px; margin-bottom: 10px">
            <button class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#modalCrearProducto">
                <i class="fas fa-plus"></i> Nuevo Producto
            </button>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 500px;">
            <table class="table table-responsive-sm table-head-fixed text-nowrap table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="width: 75px;"></th>
                        <th style="width: 75px">Codigo</th>
                        <th>Nombre</th>
                        <th style="width: 100px;">Codigo de barras</th>
                        <th style="width: 100px;">Marca</th>
                        <th style="width: 100px;">Categoria</th>
                        <th style="width: 50px;">precio</th>
                        <th style="width: 75px;">Estado</th>
                        <th style="width: 50px;">Fecha Modificacion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Producto in Model)
                    {
                        <tr>
                            <td>
                                <!-- Menú desplegable en la celda -->
                                <div class="dropdown">
                                    <button class="btn btn-primary btn-sm " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu" style="background-color: #f0d8a8">

                                        <a class="dropdown-item btn-editar" data-toggle="modal" 
                                            data-id="@Producto.ProductoId" 
                                            data-producto="@Producto.Nombre"
                                            data-barra="@Producto.CodigoBarra"
                                            data-marca="@Producto.Marca"
                                            data-categoria="@Producto.Categoria"
                                            data-precio="@Producto.Precio"
                                        
                                            data-target="#modalEditarProducto">
                                            <i class="fa fa-pencil"></i> Editar
                                        </a>
                                        <a class="dropdown-item btn-eliminar" data-toggle="modal" 
                                            data-id="@Producto.ProductoId" 
                                            data-producto="@Producto.Nombre" 
                                                
                                            data-target="#modalEliminarProducto">
                                            <i class="fa fa-trash"></i> Eliminar
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>@Producto.CodigoSILP</td>
                            <td>@Producto.Nombre</td>
                            <td>@Producto.CodigoBarra</td>
                            <td>@Producto.Marca</td>
                            <td>@Producto.Categoria</td>
                            <td>@Producto.Precio</td>
                            <td>@Producto.NombreEstado</td>
                            <td>@Producto.FechaMod</td>
                        </tr>
                    }
                </tbody>
            </table>
            <hr>

            @{
                var anteriordeshabilitado = !Model.PaginasAnteriores ? "disable" : "";
                var siguientedeshabilitado = !Model.PaginasPosteriores ? "disable" : "";
            }

        </div>
        <!-- /.card-body -->
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm justify-content-end">
                <!-- Botón Anterior -->
                <li class="page-item @(Model.PaginaInicio == 1 ? "disabled" : "")">
                    <a class="page-link" asp-action="Index" asp-route-numpag="@(Model.PaginaInicio - 1)" tabindex="@(Model.PaginaInicio == 1 ? "-1" : "")">Anterior</a>
                </li>

                <!-- Botones de páginas -->
                @for (var i = 1; i <= Model.PaginasTotales; i++)
                {
                    <li class="page-item @(i == Model.PaginaInicio ? "active" : "")">
                        <a class="page-link" asp-action="Index" asp-route-numpag="@i">@i</a>
                        @if (i == Model.PaginaInicio)
                        {
                            <span class="sr-only">(current)</span>
                        }
                    </li>
                }

                <!-- Botón Siguiente -->
                <li class="page-item @(Model.PaginaInicio == Model.PaginasTotales ? "disabled" : "")">
                    <a class="page-link" asp-action="Index" asp-route-numpag="@(Model.PaginaInicio + 1)" tabindex="@(Model.PaginaInicio == Model.PaginasTotales ? "-1" : "")">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /.card -->
@*  <!-- Modal de Crear usuario -->
<div class="modal fade" id="modalCrearUsuario" tabindex="-1" role="dialog" aria-labelledby="modalCrearLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearLabel">Crear Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="btn-crear" action="@Url.Action("CrearUsuario", "Usuarios")" method="post">

                    <label for="modalUser" class="col-form-label">Usuario:</label>
                    <input type="text" class="form-control" id="modalUser" name="usuario" required />

                    <div id="userError" class="alert alert-danger" style="display: none;">El usuario ya existe.</div>

                    <label for="modalPwd" class="col-form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="modalPwd" name="password" required />

                    <label for="modalCpwd" class="col-form-label">Confirmar Contraseña:</label>
                    <input type="password" class="form-control" id="modalCpwd" name="cpwd" required />

                    <div id="passworderror" class="alert alert-danger" style="display: none;">Las contraseñas no coinciden.</div>

                    <label for="empleadosDropdown" class="col-form-label">Empleado:</label>
                    <select class="form-control" id="empleadosDropdown" name="empleadoid">
                        <option value="">Seleccione un empleado</option>
                        @foreach (var empleado in ViewBag.Empleados as List<Empleados>)
                        {
                            <option value="@empleado.EmpleadoId">@empleado.Nombre</option>
                        }
                    </select>

                    <label for="rolesDropdown" class="col-form-label">Roles:</label>
                    <select class="form-control" id="rolesDropdown" name="rolid">
                        <option value="">Seleccione un rol</option>
                        @foreach (var rol in ViewBag.Roles as List<Roles>)
                        {
                            <option value="@rol.RolId">@rol.Nombre</option>
                        }
                    </select>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> *@

@* <!-- Modal de Editar usuario -->
<div class="modal fade" id="modalEditarProducto" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarLabel">Editar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("EditarProducto", "Productos")" method="post">
                    <input type="hidden" id="modal-productid" name="id" />

                    <label for="modal-user" class="col-form-label">Producto:</label>
                    <input type="text" class="form-control" id="modal-productname" name="producto" />

                    <label for="modal-user" class="col-form-label">Codigo de barras:</label>
                    <input type="text" class="form-control" id="modal-productbarra" name="barras" />

                    <label for="modal-user" class="col-form-label">Marca:</label>
                    <input type="text" class="form-control" id="modal-productmarca" name="marca" />

                    <label for="modal-user" class="col-form-label">Categoria:</label>
                    <input type="text" class="form-control" id="modal-productcategoria" name="categoria" />
                    
                    <label for="modal-user" class="col-form-label">Precio:</label>
                    <input type="number" class="form-control" id="modal-productprecio" name="precio" />

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning">Guardar Cambios</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 *@

<!-- Modal de eliminar usuario -->
<div class="modal fade" id="modalEliminarProducto" tabindex="-1" role="dialog" aria-labelledby="modalEliminarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarLabel">Eliminar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("EliminarProducto", "Productos")" method="post">
                    <input type="hidden" id="modal-productid" name="id" />

                    <p>¿Estás seguro que deseas eliminar el producto <strong id="modal-product"></strong>?</p>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*
<script>
    let userExists = false;  // Variable global para verificar si el usuario ya existe

    // Evento blur para verificar si el usuario ya existe cuando se pierde el foco del campo de usuario
    document.getElementById('modalUser').addEventListener('blur', function () {
        var username = this.value;
        if (username) {
            fetch('/Usuarios/ExisteUsuario?usuario=' + username)
                .then(response => response.json())
                .then(data => {
                    var userErrorDiv = document.getElementById('userError');
                    if (data.existe) {
                        userErrorDiv.style.display = 'block';
                        userExists = true;  // Marcamos que el usuario ya existe
                    } else {
                        userErrorDiv.style.display = 'none';
                        userExists = false;  // Marcamos que el usuario no existe
                    }
                });
        }
    });

    // Verifica si las contraseñas coinciden y si el usuario ya existe antes de permitir el envío
    document.getElementById('btn-crear').addEventListener('submit', function (e) {
        var password = document.getElementById('modalPwd').value;
        var confirmPassword = document.getElementById('modalCpwd').value;
        var passwordErrorDiv = document.getElementById('passworderror');
        var userErrorDiv = document.getElementById('userError');

        if (password !== confirmPassword) {
            e.preventDefault();  // Evita el envío del formulario
            passwordErrorDiv.style.display = 'block';  // Muestra el error de las contraseñas

            setTimeout(function () {
                passwordErrorDiv.style.display = 'none';
            }, 1500);
        } else {
            passwordErrorDiv.style.display = 'none';  // Oculta el error de las contraseñas
        }

        // Evita el envío si el usuario ya existe
        if (userExists) {
            e.preventDefault();  // Evita el envío del formulario
            userErrorDiv.style.display = 'block';  // Muestra el error de que el usuario ya existe
        }
    });
</script>


 *@

    <script>
    // Captura el ID y producto cuando haces clic en "btn-editar"
    document.querySelectorAll('.btn-editar').forEach(function (button) {
        button.addEventListener('click', function () {
            // Captura el ID y usuario desde los atributos del botón
            var ProductId = this.getAttribute('data-id');
            var ProductName = this.getAttribute('data-producto');
            var ProductBarra = this.getAttribute('data-barra');
            var ProductMarca = this.getAttribute('data-marca');
            var ProductCategoria = this.getAttribute('data-categoria');
            var ProductPrecio = this.getAttribute('data-precio');

            // Asigna los valores capturados y los traslada al modal
            document.getElementById('modal-productid').value = ProductId; // Coloca el ID en el input hidden
            document.getElementById('modal-productname').value = ProductName; // Coloca el nombre del producto
            document.getElementById('modal-productbarra').value = ProductBarra;
            document.getElementById('modal-productmarca').value = ProductMarca;
            document.getElementById('modal-productcategoria').value = ProductCategoria;
            document.getElementById('modal-productprecio').value = ProductPrecio;

            // Muestra el modal manualmente usando Bootstrap
            var modalEditar = new bootstrap.Modal(document.getElementById('modalEditarProducto'));
            modal.show();
        });
    });
    </script>




    <script>
    // Captura el ID del producto cuando haces clic en "btn-eliminar"
    document.querySelectorAll('.btn-eliminar').forEach(function (button) {
        button.addEventListener('click', function () {
            // Captura el ID y demas valores del producto desde el botón
            var productId = this.getAttribute('data-id');
            var product = this.getAttribute('data-producto');

            // Asigna los valores capturados y los traslada al modal
            document.getElementById('modal-productid').value = productId;
            document.getElementById('modal-product').textContent = product;

            // Muestra el modal manualmente usando Bootstrap
            var modalEliminar = new bootstrap.Modal(document.getElementById('modalEliminarProducto'));
            modalEliminar.show();
        });
    });
    </script>

