@using SistemaILP.comisariato.Data;
@model Paginacion<Usuarios>

<div class="card">
    <h5  style="padding-left: 20px" class="card-title"><i class="fas fa-user"></i> Consulta De Usuarios</h5>
    <div class="card-header">
        <div class="card-tools" style="padding-right: 10px; margin-bottom: 10px" >
            <button class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#modalCrearUsuario">
                <i class="fas fa-plus"></i> Nuevo Usuario
            </button>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 500px;">
            <table class="table table-responsive-sm table-head-fixed text-nowrap table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="width: 75px;"></th>
                        <th>Nombre</th>
                        <th style="width: 250px;">Usuario</th>
                        <th style="width: 100px;">Estado</th>
                        <th style="width: 200px;">Fecha Modificacion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var usuario in Model)
                    {
                        <tr>
                            <td>
                                <!-- Menú desplegable en la celda -->
                                <div class="dropdown">
                                    <button class="btn btn-primary btn-sm " type="button" id="dropdownMenuButton" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu" style="background-color: #f0d8a8">

                                        <a class="dropdown-item btn-editar" data-toggle="modal" data-id="@usuario.UsuarioId" data-usuario="@usuario.Usuario"  data-target="#modalEditarUsuario">
                                            <i class="fa fa-pencil"></i> Editar</a>

                                        <a class="dropdown-item btn-editar-password" data-toggle="modal" data-id="@usuario.UsuarioId" data-usuario="@usuario.Usuario" data-target="#modalEditarPassword">
                                            <i class="fa fa-key"></i> Cambiar Contraseña
                                        </a>
                                        <a class="dropdown-item btn-eliminar" data-toggle="modal" data-id="@usuario.UsuarioId" data-nombre="@usuario.NombreEmpleado" data-target="#modalEliminarUsuario">
                                            <i class="fa fa-trash"></i> Eliminar
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>@usuario.NombreEmpleado</td>
                            <td>@usuario.Usuario</td>
                            <td>@usuario.NombreEstado</td>
                            <td>@usuario.FechaMod</td>
                        </tr>
                    }
                </tbody>
            </table>
            <hr>

            @{
                var anteriordeshabilitado = !Model.PaginasAnteriores ? "disable" : "";
                var siguientedeshabilitado = !Model.PaginasPosteriores ? "disable" : "";
            }

            <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm justify-content-end">
                    <!-- Botón Anterior -->
                    <li class="page-item @(Model.PaginaInicio == 1 ? "disabled" : "")">
                        <a class="page-link" asp-action="Index" asp-route-numpag="@(Model.PaginaInicio - 1)" tabindex="@(Model.PaginaInicio == 1 ? "-1" : "")">Anterior</a>
                    </li>

                    <!-- Botones de páginas -->
                    @for (var i = 1; i <= Model.PaginasTotales; i++)
                    {
                        <li class="page-item @(i == Model.PaginaInicio ? "active" : "")">
                            <a class="page-link" asp-action="Index" asp-route-numpag="@i">@i</a>
                            @if (i == Model.PaginaInicio)
                            {
                                <span class="sr-only">(current)</span>
                            }
                        </li>
                    }

                    <!-- Botón Siguiente -->
                    <li class="page-item @(Model.PaginaInicio == Model.PaginasTotales ? "disabled" : "")">
                        <a class="page-link" asp-action="Index" asp-route-numpag="@(Model.PaginaInicio + 1)" tabindex="@(Model.PaginaInicio == Model.PaginasTotales ? "-1" : "")">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- /.card-body -->
    </div>
</div>
<!-- /.card -->
<!-- Modal de Crear usuario -->
<div class="modal fade" id="modalCrearUsuario" tabindex="-1" role="dialog" aria-labelledby="modalCrearLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearLabel">Crear Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="btn-crear" action="@Url.Action("CrearUsuario", "Usuarios")" method="post">

                    <label for="modalUser" class="col-form-label">Usuario:</label>
                    <input type="text" class="form-control" id="modalUser" name="usuario" required />

                    <label for="modalPwd" class="col-form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="modalPwd" name="password" required />

                    <label for="modalCpwd" class="col-form-label">Confirmar Contraseña:</label>
                    <input type="password" class="form-control" id="modalCpwd" name="cpwd" required />

                    <div id="passworderror" class="alert alert-danger" style="display: none;">
                        Las contraseñas no coinciden.
                    </div>

                    <label for="empleadosDropdown" class="col-form-label">Empleado:</label>
                    <select class="form-control" id="empleadosDropdown" name="empleadoid">
                        <option value="">Seleccione un empleado</option>
                        @foreach (var empleado in ViewBag.Empleados as List<Empleados>)
                        {
                            <option value="@empleado.EmpleadoId">@empleado.Nombre</option>
                        }
                    </select>

                    <label for="rolesDropdown" class="col-form-label">Roles:</label>
                    <select class="form-control" id="rolesDropdown" name="rolid">
                        <option value="">Seleccione un rol</option>
                        @foreach (var rol in ViewBag.Roles as List<Roles>)
                        {
                            <option value="@rol.RolId">@rol.Nombre</option>
                        }
                    </select>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Editar usuario -->
<div class="modal fade" id="modalEditarUsuario" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarLabel">Editar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("EditarUsuario", "Usuarios")" method="post">
                    <input type="hidden" id="modal-user-id" name="id" />

                    <label for="modal-user" class="col-form-label">Usuario:</label>
                    <input type="text" class="form-control" id="modal-user" name="usuario" />

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning">Guardar Cambios</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Editar Contraseña -->
<div class="modal fade" id="modalEditarPassword" tabindex="-1" role="dialog" aria-labelledby="modalEditarPasswordLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarPasswordLabel">Cambiar Contraseña a <strong id="modal-usr-user"></strong>?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="passwordForm" action="@Url.Action("EditarPassword", "Usuarios")" method="post">
                    <input type="hidden" id="modal-usr-id" name="id" />

                    <label for="new-password" class="col-form-label">Nueva Contraseña:</label>
                    <input type="password" class="form-control" id="new-password" name="newPassword" required />

                    <label for="confirm-password" class="col-form-label">Confirmar Contraseña:</label>
                    <input type="password" class="form-control" id="confirm-password" name="confirmPassword" required />

                    <div id="password-error" class="text-danger" style="display: none;">Las contraseñas no coinciden</div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning">Guardar Cambios</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de eliminar usuario -->
<div class="modal fade" id="modalEliminarUsuario" tabindex="-1" role="dialog" aria-labelledby="modalEliminarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarLabel">Eliminar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("EliminarUsuario", "Usuarios")" method="post">
                    <input type="hidden" id="modal-userid" name="id" />

                    <p>¿Estás seguro que deseas eliminar al usuario <strong id="modal-username"></strong>?</p>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <script>
    // Envia datos de usuario cuando haces clic en "btn-crear"
    document.getElementById('.btn-crear').addEventListener('submit', function (e) {
        var password = document.getElementById('modalPwd').value;
        var confirmPassword = document.getElementById('modalCpwd').value;
        var errorDiv = document.getElementById('passworderror');

        if (password !== confirmPassword) {
            e.preventDefault();  // Evita el envío del formulario
            errorDiv.style.display = 'block';  // Muestra el error

            setTimeout(function () {
                errorDiv.style.display = 'none';
            }, 1500);

        } else {
            errorDiv.style.display = 'none';  // Oculta el error
        }
    });
    </script>

    

    <script>
    // Captura el ID y usuario cuando haces clic en "btn-editar"
    document.querySelectorAll('.btn-editar').forEach(function (button) {
        button.addEventListener('click', function () {
            // Captura el ID y usuario desde los atributos del botón
            var userId = this.getAttribute('data-id');
            var userName = this.getAttribute('data-usuario');

            // Asigna los valores capturados al modal
            document.getElementById('modal-user-id').value = userId; // Coloca el ID en el input hidden
            document.getElementById('modal-user').value = userName; // Coloca el nombre de usuario

            // Muestra el modal manualmente usando Bootstrap
            var modalEditar = new bootstrap.Modal(document.getElementById('modalEditarUsuario'));
            modal.show();
        });
    });
    </script>


    <script>
    // Captura el ID del usuario cuando haces clic en "Cambiar Contraseña"
    document.querySelectorAll('.btn-editar-password').forEach(function (button) {
        button.addEventListener('click', function () {
            // Captura el ID y el nombre de usuario desde los atributos del botón
            var userId = this.getAttribute('data-id');
            var userUser = this.getAttribute('data-usuario');

            // Asigna el ID del usuario al campo hidden y muestra el nombre en el modal
            document.getElementById('modal-usr-id').value = userId;
            document.getElementById('modal-usr-user').textContent = userUser;
        });
    });

    // Validación de contraseñas al enviar
    document.getElementById('passwordForm').addEventListener('submit', function (event) {
        var newPassword = document.getElementById('new-password').value;
        var confirmPassword = document.getElementById('confirm-password').value;

        // Si las contraseñas no coinciden, mostrar error y evitar el envío
        if (newPassword !== confirmPassword) {
            event.preventDefault();
            document.getElementById('password-error').style.display = 'block';
        }
    });
    </script>


    <script>
    // CCaptura el ID del usuario cuando haces clic en "btn-eliminar"
    document.querySelectorAll('.btn-eliminar').forEach(function (button) {
        button.addEventListener('click', function () {
            // Captura el ID y el nombre del usuario desde el botón
            var userId = this.getAttribute('data-id');
            var userName = this.getAttribute('data-nombre');

            // Asigna los valores capturados al modal
            document.getElementById('modal-userid').value = userId;
            document.getElementById('modal-username').textContent = userName;

            // Muestra el modal manualmente usando Bootstrap
            var modalEliminar = new bootstrap.Modal(document.getElementById('modalEliminarUsuario'));
            modalEliminar.show();
        });
    });

    </script>

