@using SistemaILP.comisariato.Data;
@model Paginacion<Empleados>

<div class="card">
    <h5 style="padding-left: 20px; margin-top: 10px" class="card-title"><i class="fas fa-users"></i> Consulta De Empleado</h5>
    <div class="card-header">
        <div class="card-tools" style="padding-right: 10px; margin-bottom: 10px">
            <button class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#modalCrearEmpleado">
                <i class="fas fa-plus"></i> Nuevo Empleado
            </button>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 500px;">
            <table class="table table-responsive-sm table-head-fixed text-nowrap table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="width: 75px;"></th>
                        <th style="width: 75px">Codigo</th>
                        <th>Empleado</th>
                        <th style="width: 100px;">NIT</th>
                        <th style="width: 100px;">DPI</th>
                        <th style="width: 100px;">Estado</th>
                        <th style="width: 200px;">Fecha Modificacion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Empleado in Model)
                    {
                        <tr>
                            <td>
                                <!-- Menú desplegable en la celda -->
                                <div class="dropdown">
                                    <button class="btn btn-primary btn-sm " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu" style="background-color: #f0d8a8">

                                        <a class="dropdown-item btn-editar" data-toggle="modal" 
                                            data-id="@Empleado.EmpleadoId" 
                                            data-nombre="@Empleado.Nombre" 
                                            data-nit="@Empleado.NIT"
                                            data-dpi="@Empleado.DPI"
                                            
                                            data-target="#modalEditarEmpleado">
                                            
                                            <i class="fa fa-pencil"></i> Editar
                                        </a>
                                        <a class="dropdown-item btn-eliminar" data-toggle="modal" data-id="@Empleado.EmpleadoId" data-empleado="@Empleado.Nombre" data-target="#modalEliminarEmpleado">
                                            <i class="fa fa-trash"></i> Eliminar
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>@Empleado.Codigo</td>
                            <td>@Empleado.Nombre</td>
                            <td>@Empleado.NIT</td>
                            <td>@Empleado.DPI</td>
                            <td>@Empleado.NombreEstado</td>
                            <td>@Empleado.FechaMod</td>
                        </tr>
                    }
                </tbody>
            </table>
            <hr>

            @{
                var anteriordeshabilitado = !Model.PaginasAnteriores ? "disable" : "";
                var siguientedeshabilitado = !Model.PaginasPosteriores ? "disable" : "";
            }

        </div>
        <!-- /.card-body -->
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm justify-content-end">
                <!-- Botón Anterior -->
                <li class="page-item @(Model.PaginaInicio == 1 ? "disabled" : "")">
                    <a class="page-link" asp-action="Index" asp-route-numpag="@(Model.PaginaInicio - 1)" tabindex="@(Model.PaginaInicio == 1 ? "-1" : "")">Anterior</a>
                </li>

                <!-- Botones de páginas -->
                @for (var i = 1; i <= Model.PaginasTotales; i++)
                {
                    <li class="page-item @(i == Model.PaginaInicio ? "active" : "")">
                        <a class="page-link" asp-action="Index" asp-route-numpag="@i">@i</a>
                        @if (i == Model.PaginaInicio)
                        {
                            <span class="sr-only">(current)</span>
                        }
                    </li>
                }

                <!-- Botón Siguiente -->
                <li class="page-item @(Model.PaginaInicio == Model.PaginasTotales ? "disabled" : "")">
                    <a class="page-link" asp-action="Index" asp-route-numpag="@(Model.PaginaInicio + 1)" tabindex="@(Model.PaginaInicio == Model.PaginasTotales ? "-1" : "")">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /.card -->

<!-- Modal de Crear usuario -->
<div class="modal fade" id="modalCrearEmpleado" tabindex="-1" role="dialog" aria-labelledby="modalCrearLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearLabel">Crear Empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="btn-crear" action="@Url.Action("CrearEmpleado", "Empleados")" method="post">

                    <label for="modalCodigo" class="col-form-label">Codigo:</label>
                    <input type="text" class="form-control" id="modalCodigo" name="codigo" required />

                    <div id="codError" class="alert alert-danger" style="display: none;">El Codigo ya existe.</div>

                    <label for="modalnombre" class="col-form-label">Nombre y Apellidos:</label>
                    <input type="text" class="form-control" id="modalnombre" name="nombre" required />

                    <label for="modalnit" class="col-form-label">NIT:</label>
                    <input type="text" class="form-control" id="modalnit" name="nit" required />

                    <label for="modaldpi" class="col-form-label">DPI / Cedula:</label>
                    <input type="text" class="form-control" id="modaldpi" name="dpi" required />

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modal de Editar usuario -->
<div class="modal fade" id="modalEditarEmpleado" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarLabel">Editar Empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("EditarEmpleado", "Empleados")" method="post">
                    <input type="hidden" id="modal-employeeid" name="id" />

                    <label for="modal-user" class="col-form-label">Empleado:</label>
                    <input type="text" class="form-control" id="modal-employeename" name="nombre" />

                    <label for="modal-user" class="col-form-label">NIT:</label>
                    <input type="text" class="form-control" id="modal-employeenit" name="nit" />

                    <label for="modal-user" class="col-form-label">DPI:</label>
                    <input type="text" class="form-control" id="modal-employeedpi" name="dpi" />

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning">Guardar Cambios</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modal de eliminar usuario -->
<div class="modal fade" id="modalEliminarEmpleado" tabindex="-1" role="dialog" aria-labelledby="modalEliminarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarLabel">Eliminar Empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("EliminarEmpleado", "Empleados")" method="post">
                    <input type="hidden" id="modal-employee-id" name="id" />

                    <p>¿Estás seguro que deseas eliminar al empleado <strong id="modal-employee"></strong>?</p>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

 <script>
    let codExists = false;  // Variable global para verificar si el codigo ya existe

    // Evento blur para verificar si el codigo ya existe cuando se pierde el foco del campo de codigo
    document.getElementById('modalCodigo').addEventListener('blur', function () {
        var codigo = this.value;
        if (codigo) {
            fetch('/Empleados/ExisteCodigoEmpleado?codigo=' + codigo)
                .then(response => response.json())
                .then(data => {
                    var codErrorDiv = document.getElementById('codError');
                    if (data.existe) {
                        codErrorDiv.style.display = 'block';
                        codExists = true;  // Marcamos que el codigo ya existe
                    } else {
                        codErrorDiv.style.display = 'none';
                        codExists = false;  // Marcamos que el codigo no existe
                    }
                });
        }
    });

    // Verifica si el codigo ya existe antes de permitir el envío
    document.getElementById('btn-crear').addEventListener('submit', function (e) {
        var codErrorDiv = document.getElementById('codError');

        // Evita el envío si el codigo ya existe
        if (codExists) {
            e.preventDefault();  // Evita el envío del formulario
            codErrorDiv.style.display = 'block';  // Muestra el error de que el codigo ya existe
        }
    });
 </script>

 


    <script>
    // Captura el ID y usuario cuando haces clic en "btn-editar"
    document.querySelectorAll('.btn-editar').forEach(function (button) {
        button.addEventListener('click', function () {
            // Captura el ID y usuario desde los atributos del botón
            var EmployeeId = this.getAttribute('data-id');
            var EmployeeName = this.getAttribute('data-nombre');
            var EmployeeNit = this.getAttribute('data-nit');
            var EmployeeDpi = this.getAttribute('data-dpi');

            // Asigna los valores capturados al modal
            document.getElementById('modal-employeeid').value = EmployeeId; // Coloca el ID en el input hidden
            document.getElementById('modal-employeename').value = EmployeeName; // Coloca el nombre de usuario
            document.getElementById('modal-employeenit').value = EmployeeNit;
            document.getElementById('modal-employeedpi').value = EmployeeDpi;

            // Muestra el modal manualmente usando Bootstrap
            var modalEditar = new bootstrap.Modal(document.getElementById('modalEditarEmpleado'));
            modal.show();
        });
    });
    </script>


    <script>
    // Captura el ID del usuario cuando haces clic en "btn-eliminar"
    document.querySelectorAll('.btn-eliminar').forEach(function (button) {
        button.addEventListener('click', function () {
            // Captura el ID y el nombre del empleado desde el botón
            var employeeId = this.getAttribute('data-id');
            var employee = this.getAttribute('data-empleado');

            // Asigna los valores capturados al modal
            document.getElementById('modal-employee-id').value = employeeId;
            document.getElementById('modal-employee').textContent = employee;

            // Muestra el modal manualmente usando Bootstrap
            var modalEliminar = new bootstrap.Modal(document.getElementById('modalEliminarEmpleado'));
            modalEliminar.show();
        });
    });

    </script>

