@using SistemaILP.comisariato.Data;
@model Paginacion<FacVentas>;

<div class="card">
    <h4 style="padding-left: 20px; margin-top: 10px" class="card-title"><i class="fas fa-file-invoice"></i> Consulta De Facturas</h4>
    <div class="card-header">
        <div class="card-tools" style="padding-right: 1825px; margin-bottom: 10px">
            <input type="text" id="consecutivo" class="form form-text" placeholder="Filtrar por numero" style="text-align: center;" oninput="filtrarFactura()" />
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 500px;">
            <table class="table table-responsive-sm table-head-fixed text-nowrap table-hover table-bordered" id="tablaFacturas">
                <thead>
                    <tr>
                        <th style="width: 75px;"></th>
                        <th style="width: 190px; text-align: center;">Numero</th>
                        <th style="width: 190px; text-align: center;">Serie</th>
                        <th style="width: 190px; text-align: center;">Fecha Emision</th>
                        <th>Empleado</th>
                        <th style="width: 200px; text-align: center;">Tipo de Pago</th>
                        <th style="width: 150px; text-align: center;">Total</th>
                        <th style="width: 100px; text-align: center;">Estado</th>
                        <th style="width: 250px;">Comisariato</th>
                        <th style="width: 200px;">Vendedor</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var factura in Model)
                    {
                        <tr>
                            <td>
                                <!-- Menú desplegable en la celda -->
                                <div class="dropdown">
                                    <button class="btn btn-primary btn-sm " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu" style="background-color: #f0d8a8">

                                        <a class="dropdown-item btn-verfactura" asp-action="VerFactura" asp-controller="Facturas" asp-route-facturaid="@factura.FacVentaId">
                                            <i class="fa fa-eye"></i> Ver Detalle
                                        </a>

                                        <a class="dropdown-item btn-reimprimir" asp-controller="Facturas" asp-action="ImprimirFactura" asp-route-facturaid="@factura.FacVentaId">
                                            <i class="fa fa-print"></i> Reimprimir
                                        </a>

                                        <div class="dropdown-divider"></div>
                                            <a class="dropdown-item btn-anular" data-toggle="modal"
                                               data-id="@factura.FacVentaId"
                                               data-consecutivo="@factura.Consecutivo"
                                               data-fecha="@factura.FechaMod"
                                               data-empleado="@factura.NombreEmpleado"
                                               data-total="@factura.Total"
                                               data-target="#modalAnularFactura">
                                            <i class="fa fa-ban"></i> Anular Factura
                                        </a>
                                    </div>
                                </div>
                            </td>

                            <td style="width: 190px; text-align: center;">@factura.Consecutivo</td>
                            <td style="text-align: center;">@factura.Serie</td>
                            <td style="text-align: center;">@factura.FechaMod</td>
                            <td>@factura.NombreEmpleado</td>
                            <td style="text-align: center;">@factura.NombreTipoPago</td>
                            <td style="text-align: right;">@factura.Total</td>
                            <td style="text-align: center;">@factura.NombreEstado</td>
                            <td>@factura.NombreComisariato</td>
                            <td>@factura.NombreUsuario</td>
                        </tr>
                    }
                </tbody>
            </table>
            <hr>

            @{
                var anteriordeshabilitado = !Model.PaginasAnteriores ? "disable" : "";
                var siguientedeshabilitado = !Model.PaginasPosteriores ? "disable" : "";
            }

            <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm justify-content-end">
                    <!-- Botón Anterior -->
                    <li class="page-item @(Model.PaginaInicio == 1 ? "disabled" : "")">
                        <a class="page-link" asp-action="Index" asp-route-numpag="@(Model.PaginaInicio - 1)" tabindex="@(Model.PaginaInicio == 1 ? "-1" : "")">Anterior</a>
                    </li>

                    <!-- Botones de páginas -->
                    @for (var i = 1; i <= Model.PaginasTotales; i++)
                    {
                        <li class="page-item @(i == Model.PaginaInicio ? "active" : "")">
                            <a class="page-link" asp-action="Index" asp-route-numpag="@i">@i</a>
                            @if (i == Model.PaginaInicio)
                            {
                                <span class="sr-only">(current)</span>
                            }
                        </li>
                    }

                    <!-- Botón Siguiente -->
                    <li class="page-item @(Model.PaginaInicio == Model.PaginasTotales ? "disabled" : "")">
                        <a class="page-link" asp-action="Index" asp-route-numpag="@(Model.PaginaInicio + 1)" tabindex="@(Model.PaginaInicio == Model.PaginasTotales ? "-1" : "")">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- /.card-body -->
    </div>
</div>
<!-- /.card -->


 <script>
    function filtrarFactura() {
        const input = document.getElementById('consecutivo');
        const filter = input.value.toLowerCase();
        const table = document.getElementById('tablaFacturas');
        const tr = table.getElementsByTagName('tr');

        for (let i = 1; i < tr.length; i++) { // Comienza desde 1 para omitir el encabezado
            const tdCodigo = tr[i].getElementsByTagName('td')[1]; // segunda columna: Numero
            if (tdCodigo) {
                const txtValue = tdCodigo.textContent || tdCodigo.innerText;
                if (txtValue.toLowerCase().indexOf(filter) > -1 || filter === "") {
                    tr[i].style.display = ""; // Muestra la fila
                } else {
                    tr[i].style.display = "none"; // Oculta la fila
                }
            }
        }
    }
</script>

<!-- Modal de eliminar usuario -->
<div class="modal fade" id="modalAnularFactura" tabindex="-1" role="dialog" aria-labelledby="modalAnularLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAnularLabel"><strong>Anular Factura</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("AnularFactura", "Facturas")" method="post">
                    <input type="hidden" id="modal-facID" name="id" />

                    <p><strong>¡Advertencia! </strong>Esta Accion no se puede revertir</p>
                    <p>¿Estás seguro que deseas anular la factura?</p>   <br />

                    <p>Numero: <strong id="modal-consecutivo"></strong></p>
                    <p>Fecha Emision: <strong id="modal-fecha"></strong></p>
                    <p>Nombre: <strong id="modal-empleado"></strong></p>
                    <p>Total: <strong id="modal-total"></strong></p>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Anular</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

 <script>
    // Captura el ID del usuario cuando haces clic en "btn-anular"
    document.querySelectorAll('.btn-anular').forEach(function (button) {
        button.addEventListener('click', function () {
            // Captura el ID y el nombre del usuario desde el botón
            var facID = this.getAttribute('data-id');
            var consecutivo = this.getAttribute('data-consecutivo');
            var fecha = this.getAttribute('data-fecha');
            var total = this.getAttribute('data-total');
            var empleado = this.getAttribute('data-empleado');

            // Asigna los valores capturados al modal
            document.getElementById('modal-facID').value = facID;
            document.getElementById('modal-consecutivo').textContent = consecutivo;
            document.getElementById('modal-fecha').textContent = fecha;
            document.getElementById('modal-total').textContent = total;
            document.getElementById('modal-empleado').textContent = empleado;

            // Muestra el modal manualmente usando Bootstrap
            var modalAnular = new bootstrap.Modal(document.getElementById('modalAnularFactura'));
            modalAnular.show();
        });
    });

 </script>