@using SistemaILP.comisariato.Data;
@model FacturaDTO;

<link rel="stylesheet" href="@Url.Content("~/css/Factura.css")" />

<div class="card">
    <h4 style="padding-left: 20px; margin-top: 30px; margin-bottom: 10px " class="card-title"><i class="fas fa-file-invoice"></i> Detalle De Factura</h4>
    <div class="card-header">

            <a asp-controller="Facturas" asp-action="ImprimirFactura" asp-route-facturaid="@Model.FacVentaId" class="btn btn-primary" style="text-align: center; margin-bottom:20px"> Imprimir Factura</a>

        <br />
  <div class="card-body table-responsive p-0" style="height: auto;">
<div class="invoice-box">
    <!-- Encabezado de la factura -->
    <table class="header-table">
        <tr class="top">
            <td class="title">
                <img src="~/img/logo_lapopular.png" alt="Industria La Popular" style="width: 100%; max-width: 300px" />
            </td>
            <td class="date">
                <!-- Clase date alineada a la derecha -->
                <strong>FACTURA</strong> <br />
                Serie: @Model.Serie<br />
                Numero: @Model.Consecutivo<br />
                Emitida: @Model.FechaMod
            </td>
        </tr>

        <tr class="information">
            <td>
                Industria La Popular, Sociedad Anonima<br />
                NIT:  673218<br />
                KM 55.5 Antigua Carretera A, Escuintla, Escuintla<br/>
                PBX: (502) 2420-0202<br/>
                Oficina Central: Via 3 05-42, Zona 4 Guatemala
            </td>
            <td class="text-left">
                <strong>CLIENTE</strong><br />
                <strong></strong> @Model.NombreEmpleado<br />
                <strong>NIT:</strong> @Model.NIT<br />
                <strong></strong>Ciudad
            </td>
        </tr>

        <tr class="heading">
            <td>Método de Pago</td>
            <td>Cajero</td>
        </tr>

        <tr class="details">
            <td>@Model.NombreTipoPago</td>
            <td>@Model.NombreUsuario</td>
        </tr>
    </table>

    <!-- Detalles de la factura -->

                        <!-- Detalles de la factura -->
                        <table class="details-table">
                            <thead>
                            <tr class="heading" style="background: #eee;">
                                    <th>Código</th>
                                    <th class="descripcion">Descripción</th>
                                    <th class="text-center">Precio Unitario</th>
                                    <th class="text-center">Cantidad</th>
                                    <th class="subtotal">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                        @if (Model.DetallesFactura != null)
                        {
                                    foreach (var detalle in Model.DetallesFactura)
                                    {
                                        <tr class="item">
                                            <td class="codigo">@detalle.CodigoSILP</td>
                                            <td class="descripcion">@detalle.NombreProducto</td>
                                            <td class="precio">@detalle.PrecioUnidad</td>
                                            <td class="cantidad">@detalle.Cantidad</td>
                                            <td class="subtotal">@detalle.TotalLinea</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                    <tfoot>
                        <tr class="total">
                            <td colspan="3"></td>
                            <td class="subtotal">
                                <strong>TOTAL:</strong>
                                    <span>Q. @Model.Total</span>

                            </td>
                        </tr>
                    </tfoot>

                        </table>

</div>

<br/>
            <a asp-controller="Facturas" asp-action="Index" class="btn btn-warning" style="text-align: center;"> Regresar a Lista de Factura</a>
        </div>
        <!-- /.card-body -->

    </div>
</div>
<!-- /.card -->